@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    /* Success */
    --color-success-100: #dcfce7;
    --color-success-200: #4de853;
    --color-success-300: #07c30d;
    --color-success-400: #017605;

    /* Warning */
    --color-warning-100: #fef9c3;
    --color-warning-200: #c1d931;
    --color-warning-300: #c0d931;
    --color-warning-400: #854d0e;

    /* Primary A */
    --color-primary-A-100: #dfd1f3;
    --color-primary-A-200: #bfa3e7;
    --color-primary-A-300: #9f74dc;
    --color-primary-A-400: #9f74dc;
    --color-primary-A-500: #492181;
    --color-primary-A-600: #532692;
    --color-primary-A-700: #421e75;
    --color-primary-A-800: #321758;
    --color-primary-A-900: #210f3a;

    /* Primary B */
    --color-primary-B-50: #f7e5ff;
    --color-primary-B-100: #e8c9f1;
    --color-primary-B-200: #d194e2;
    --color-primary-B-300: #b95ed4;
    --color-primary-B-400: #9d32bc;
    --color-primary-B-450: #812aac;
    --color-primary-B-500: #702486;
    --color-primary-B-600: #5a1d6b;
    --color-primary-B-700: #431650;
    --color-primary-B-800: #2d0e36;
    --color-primary-B-900: #16071b;

    /* Secondary A */
    --color-secondary-A-100: #c0d6fb;
    --color-secondary-A-200: #a1c2fa;
    --color-secondary-A-300: #81aef8;
    --color-secondary-A-400: #6299f6;
    --color-secondary-A-500: #4285f4;
    --color-secondary-A-600: #0e61ea;
    --color-secondary-A-700: #0a49b0;
    --color-secondary-A-800: #073075;
    --color-secondary-A-850: #1b1c44;
    --color-secondary-A-900: #03183b;

    /* Neutral */
    --color-neutral-100: #1f2937;
    --color-neutral-200: #8d8d8d;
    --color-neutral-300: #6b7280;
    --color-neutral-400: #c7c7c7;

    /* Filters */
    --shadow-app-1: 0 0 20px 0 #00000066;
    --shadow-app-2: 0 1px 1px 0 #0000000f;
    --shadow-app-3: 0 1px 2px 0 #0000001a;
    --background-blur: 10px;
    --background-blur-md: 18.72px;
    --background-overlay: #20222f3b;

    /* Backgrounds */
    --gradient-bg-1: linear-gradient(45.46deg, #34395c 11.78%, #181941 41.8%, #1b1b1f 87.01%);
    --gradient-bg-2: linear-gradient(263.17deg, #201c2d 0.4%, #201d43 50.02%, #262136 99.65%);
    --gradient-bg-3: linear-gradient(270deg, #492181 0%, #514b8f 50%, #556096 75%, #58759d 100%);
  }

  .autofill-inherit:-webkit-autofill {
    background-color: inherit !important;
    -webkit-text-fill-color: black !important;
    color: black !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pretty {
    text-wrap: pretty;
  }

  .no-outline {
    @apply no-underline outline-none focus:outline-none focus-visible:outline-none active:outline-none;
  }

  .header-bg-image {
    background-image: url('/images/headerBanner.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .animate-slide-in-fade-top {
    animation: slide-in-fade-top 0.4s ease-out both;
  }

  .animate-slide-out-fade-top {
    animation: slide-out-fade-top 0.4s ease-out both;
  }
}

body {
  max-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
  touch-action: manipulation;
  background: var(--gradient-bg-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;

  &::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0 !important;
    text-align: start !important;
    text-align-last: start !important;
  }
}

ul,
ol {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

ul ul,
ol ol {
  list-style-type: circle;
  margin-block-start: 0;
  margin-block-end: 0;
}

.tiptap {
  & p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  & :first-child {
    margin-top: 0;
  }

  & ul,
  & ol {
    padding: 0 1rem;
    margin: 0.75rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
}

input:disabled + label.view-disabled-input {
  cursor: not-allowed;
}

@keyframes slide-in-fade-top {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 100;
  }
}

@keyframes slide-out-fade-top {
  from {
    transform: translateY(0);
    opacity: 100;
  }
  
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}
