.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 19px 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
}

@media only screen and (min-width: 1025px) {
  .gridContainer {
    grid-template-columns: repeat(6, 1fr);
    max-width: 100%;
  }

  .autor {
    grid-column: span 1;
  }

  .fecha .plataforma .estado {
    grid-column: span 1;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 730px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    gap: unset;
  }

  .autor {
    grid-column: 1 / span 1;
    order: 1;
  }

  .fecha .plataforma .estado {
    grid-column: 1 / span 1;
    order: 1;
  }

  .consulta {
    display: none;
    order: 4;
  }
}

@media only screen and (max-width: 730px) {
  .gridContainer {
    display: none;
  }
}
