.navigatorBg {
  --navigator-bg-size: var(--navigator-bg-image-width) var(--navigator-bg-image-height);
  background: var(--navigator-bg-image);
  background-size: var(--navigator-bg-size);
  background-position: var(--navigator-bg-position);
  opacity: 0.89;
  transition: all 0.3s ease-in-out;
}

.navigatorBg:hover {
  --navigator-bg-size: calc(var(--navigator-bg-image-width) * 1.115)
    calc(var(--navigator-bg-image-height) * 1.115);
  opacity: 0.98;
  filter: brightness(1.2);
}

.navigatorBg:active {
  opacity: 1;
  filter: brightness(1.3) contrast(1.05);
}
